table {
    border: 1px solid black;
  }
  
  tbody {
    border-bottom: 1px solid black;
  }
  
  th {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding: 2px 4px;
  }
  
  tfoot {
    color: gray;
  }
  
  tfoot th {
    font-weight: normal;
  }
  .cursor{
    cursor: pointer;

  }